<% include partials/navbar.ejs %>
<div class="container-fluid">
    <hr>
    <div class="d-flex justify-content-center">
        <h1>Mural de perguntas</h1>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/ask" class="btn btn-secondary ask-button">PERGUNTAR</a>
    </div>
    <hr>
    <% questions.forEach(question => {%>
        <div class="card">
            <div class="card-header index-card-title">
                <h3><%= question.title %></h3>
            </div>
            <div class="card-body index-card-title">
                <h5><%= question.description %></h5>
                <h5><%= %></h5>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <p><%= question.createdAt.toLocaleDateString('pt-BR',
                                    { year: 'numeric', month: '2-digit', day: '2-digit' }
                            ) %></p>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <a href="/question/<%=question.id%>"> <button class="btn btn-success">RESPONDER</button> </a>
                    </div>
                </div>
            </div>
        </div>
    <%})%>
</div>
<% include partials/footer.ejs %>